body{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    background-color: #a1e4a1;
}
.mainBody {
    width: 100%;
    height: auto;
    
}
.card-body {
    background: #fff;
    height: auto;
    margin: 50px;
    padding: 10px;
}
.search-table {
width: 100%;
padding: 20px
}
.timer {
    float: right;
    margin: 20px
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 100%;

    
}
.img{
    width: 10%;
}
.data{
    width: 90%;
}
.input{
    width:100%;
    height: 25px;
}
@media only screen and (min-width: 400px) {
    
  }